MoneyControl/.vs/*

MoneyControl/MoneyControl/bin/*
MoneyControl/MoneyControl/obj/*

MoneyControl/MoneyControl.Application/bin/*
MoneyControl/MoneyControl.Application/obj/*

MoneyControl/MoneyControl.Domain/bin/*
MoneyControl/MoneyControl.Domain/obj/*

MoneyControl/MoneyControl.DataAccess/bin/*
MoneyControl/MoneyControl.DataAccess/obj/*


*.cache
*.editorconfig

front/package-lock.json